{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 prueba" style="padding-top:200px;">

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 prueba">
      <section id="todos_los_productos" class="row">
        <h2 style="color: white;">Seleccionar producto</h2>
        <hr />
        <div id="contenedor_filtros" class="row">
          <div id="filtros_productos" class="col-xs-12">
            <form id="searchr-form" action="" method="post">{% csrf_token %}
              <div class="campo_busqueda col-xs-12 " style="color: white;">
                {{ search }}
                <input type="button" id="boton_prod" value="Ver datos" />
              </div>
            </form>
          </div>
        </div>
        <div id="contenedor_filtrado" class="col-xs-10 col-sm-offset-2 col-sm-8  
                                              col-md-offset-4 col-md-4 "></div>
      </section>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 prueba" style="padding-bottom: 250px;">

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 prueba" style="padding-top:200px;">

    </div>
  </div>
</div>





{% endblock %}
{% block scripts %}

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>


<script type="text/javascript">
  $("#id_querycom").autocomplete({
    source: "/buscar_libro/"
  });
</script>


{% endblock %}