{% extends "layout.html" %}
{% block title %}Contacto{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block contacto %}




<div class="container">


</div>

<div class="container-fluid">
    <div class="row reflexion justify-content-around align-items-center border" style="padding-top:20px;">
        <div class="col-12 col-md-5 contacto_form" style="padding-bottom:15px; background-color: black; color: white;">
            <h1 class="h1juan" style="padding-left:15px;">Contacto</h1>
            <form id="contact" action="" method="post" class="col-xs-12">{% csrf_token %}
                <div class="col-12 form-group">
                    {{ form|crispy }}
                </div>
                <div class="row justify-content-between">
                    <div class="col-4"></div>
                    <div class="col-4" style="padding-right:30px;">
                        <button type="submit" class=" col-12 btn-primary" style="color: white;">Enviar</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


<section class="container-fluid ">
    <div class="row" style="padding-top:10px; ">
        <div class="col-12" style="padding:0px;  ">
            <br />
        </div>
    </div>
</section>




{% endblock %}