{% extends "layout.html" %}
{% block title %}Contacto{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block usuarios %}
<!-- ---------------------------------------------------------------------------
-------------- 
------------------------------------------------------------------------------->


<div class="container-fluid">
    <div class="row reflexion justify-content-around align-items-center border" style="padding-top:20px;">   
        <div class="col-12 col-md-5 contacto_form" style="padding-bottom:15px; background-color: green; color: white;">
            <h1 class="h1juan" style="padding-left:15px; color: white;">Registrarse</h1>    
            <form method="POST" action="" style="color: white;"><input type="hidden" name="csrfmiddlewaretoken" value="9veD7oCbJNxvrLXv3WbikCJZhXr3PneeLt9TUjAlimbjPFlqx19fbJjOWjHZfdIs">
                

<div id="div_id_username" class="mb-3"> <label for="id_username" class="form-label requiredField">
                Usuario<span class="asteriskField">*</span> </label> <input type="text" name="username" maxlength="150" autofocus="" class="textinput form-control" required="" id="id_username"> <div id="hint_id_username" class="form-text">Requerido. 150 caracteres o menos. Letras, dígitos y @/./+/-/_ únicamente.</div> </div> <div id="div_id_email" class="mb-3"> <label for="id_email" class="form-label">
                Email 
                </label> <input type="email" name="email" maxlength="254" class="emailinput form-control" id="id_email"> </div> <div id="div_id_password1" class="mb-3"> <label for="id_password1" class="form-label requiredField">
                Password<span class="asteriskField">*</span> </label> <input type="password" name="password1" autocomplete="new-password" class="passwordinput form-control" required="" id="id_password1"> <div id="hint_id_password1" class="form-text"><ul><li>Su contraseña no puede ser demasiado similar a su otra información personal.</li><li>Su contraseña debe contener al menos 8 caracteres.</li><li>Su contraseña no puede ser una contraseña de uso común.</li><li>Su contraseña no puede ser completamente numérica.</li></ul></div> </div> <div id="div_id_password2" class="mb-3"> <label for="id_password2" class="form-label requiredField">
                Confirmar Password<span class="asteriskField">*</span> </label> <input type="password" name="password2" autocomplete="new-password" class="passwordinput form-control" required="" id="id_password2"> <div id="hint_id_password2" class="form-text">Ingrese la misma contraseña que antes, para verificación.</div> </div>
                
                <button type="submit" class="btn float-right" style="background-color: black; color: white;">
                    Aceptar
                 </button>

            </form>         
        </div>    
         
     </div>
 </div>

 <section class="container-fluid ">
    <div class="row" style="padding-top:10px; ">
        <div class="col-12" style="padding:0px;  ">
           <br/> 
        </div>
    </div>
</section>



{% endblock %}
 