{% extends "base.html" %}
{% load static %}
{% block ver_productos %}

<br>
<br>
<br>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<br>
<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">

                <thead>

                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Estado</th>

                    </tr>
                </thead>

                <tbody>
                    {% for producto in productos %}
                    <tr>

                        <td scope="row" style="height: 5%; width: 5%;">{{producto.id}}</td>
                        <td scope="row" style="height: 30%; width: 30%;">{{producto.producto}}</td>

                        <td scope="col"><img src="/media/{{producto.imagen}}" style="height: 30%; width: 30%;"
                                class="card-img-top" loading="lazy" alt="{{producto.producto}}"></td>
                        </td>
                        <td style="height: 30%; width: 30%;">{{producto.descripcion}}</td>
                        <td>$ {{producto.precio}}</td>
                        <td>{{producto.estado}}</td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>







{% endblock %}