@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
/*
*,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
}

html,
body {
    height: 100%;
    background-color: #152733;
    overflow: hidden;
}
*/
/* line 22, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* line 31, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}

/* line 46, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.form-content .form-items {
  border: 3px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* line 60, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

/* line 68, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.form-content h3.form-title {
  margin-bottom: 30px;
}

/* line 72, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.form-content p {
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}

/* line 82, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.form-content label,
.was-validated .form-check-input:invalid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: #fff;
}

/* line 88, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.form-content input[type=text],
.form-content input[type=password],
.form-content input[type=email],
.form-content select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}

/* line 108, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.btn-primary {
  background-color: #6C757D;
  outline: none;
  border: 0px;
  box-shadow: none;
}

/* line 115, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #495056;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

/* line 124, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}

/* line 143, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.form-content textarea:hover,
.form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8D8D8D;
}

/* line 150, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.mv-up {
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}

/* line 155, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.invalid-feedback {
  color: #ff606e;
}

/* line 159, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.valid-feedback {
  color: #2acc80;
}

/* line 166, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.btn-google {
  padding-top: 5px;
  color: white !important;
  background-color: #ea4335;
}

/* line 172, ../../../Desktop/Django/proyecto/diplo/archivos/online/static_dev/scss/login.scss */
.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}

/*# sourceMappingURL=login.css.map */