{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block tienda %}

<div class="container">
    <div class="row justify-content-center">

        <div class="col-12" style="padding-top: 40px; padding-bottom: 40px;">
            <center>
                <h1>Mi tienda</h1>
            </center>
        </div>


        <div class="col-12 col-sm-10 col-md-8 col-lg-6" style="background-color:rgb(0, 0, 0); color: white;">

            <form id="form_cargar" action="/tienda/cargar/" method="post" enctype="multipart/form-data">{% csrf_token %}


                {{ form|crispy }}
                <!--
                <label for="id_producto">Producto:</label>
                <input type="text" name="producto" maxlength="200" required="" id="id_producto">
                <label for="id_fecha_publicacion">Fecha de publicación:</label>
                <input type="date" name="fecha_publicacion" required="" id="id_fecha_publicacion">
                <label for="id_imagen">Imagen:</label>
                <input type="file" name="imagen" accept="image/*" id="id_imagen">
                -->


                <input class="btn-primary" type="submit" value="Aceptar" style="padding-bottom: 5px; padding: 2px; margin-bottom: 3px;">
            </form>

        </div>
        <div class="col-12 btn-primary" style="margin-bottom: 30px;">

        </div>
    </div>
</div>





{% endblock %}
{% block scripts %}
<script src="{% static 'js/jquery.js' %}"></script>
<script>
    $("#id_fecha_publicacion").datepicker({
        inline: true
    });
</script>



{% endblock %}